@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

.App {
  /* font-family: sans-serif; */
  font-family: "Kalam", cursive;
  text-align: center;
}

body {
  background-color: #f3f4f6;
}

input {
  width: 40%;
  padding: 1rem;
}

h2 {
  color: #1da1f2;
}

h3 {
  text-decoration: underline;
}

@media (max-width: 700px) {
  input {
    width: 80%;
  }
}
